@charset "utf-8";
.champ_wrap {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 80px;
}
.champ_wrap > .champ_list {
  background-color: black;
  /* padding: 20px 0; */
}
.champ_wrap > .inner > .title {
  margin-bottom: 10px;
}
.champ_wrap > .inner > p{
  margin-bottom: 10px;
}
.champ_wrap > .champ_list > .inner {
  padding: 0;
}
.champ_wrap > .champ_list > .inner > ul {
  width: 100%;
  max-height: 600px;
  display: flex;
  gap: 20px;
  padding: 20px 20px;
  overflow: hidden;
}
.champ_wrap > .champ_list > .inner > ul > li {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  /* background-color: #fff; */
}
.champ_wrap > .champ_list > .inner > ul > li.active_up {
  transform: translateY(0);
  opacity: 1;
}
/* 수상 */
.champ_wrap > .champ_list > .inner > ul > li > .prize {
  z-index: 9;
  position: absolute;
  top: -10px;
  left: -10px;
  height: 60px;
  width: 60px;
  background-color: rgb(50, 184, 236);
  border-radius: 50%;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 0 #0b3abb, 0 2px 0 #0b3abb, 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 #0b3abb, 0 2px 0 #0b3abb, 0 10px 10px rgba(0, 0, 0, 0.2);
}
.champ_wrap > .champ_list > .inner > ul > li > .prize.gold{
  background-color: #ffae00;
  text-shadow: 0 1px 0 #7e4b08, 0 2px 0 #7e4b08, 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 #7e4b08, 0 2px 0 #7e4b08, 0 10px 10px rgba(0, 0, 0, 0.2);
}
.champ_wrap > .champ_list > .inner > ul > li > .prize.silver{
  background-color: darkgrey;
  text-shadow: 0 1px 0 #303030, 0 2px 0 #303030, 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 #303030, 0 2px 0 #303030, 0 10px 10px rgba(0, 0, 0, 0.2);
}

/* 이미지 */
.champ_wrap > .champ_list > .inner > ul > li > .img_wrap {
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.champ_wrap > .champ_list > .inner > ul > li > .img_wrap > a {
  width: 100%;
}
.champ_wrap > .champ_list > .inner > ul > li > .img_wrap > a > img {
  width: 100%;
  display: block;
  position: relative;
}

/* 내용 */
.champ_wrap > .champ_list > .inner > ul > li > .text_wrap {
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
}
.champ_wrap > .champ_list > .inner > ul > li > .text_wrap > .top {
  display: flex;
  flex-wrap: wrap;
}
.champ_wrap > .champ_list > .inner > ul > li > .text_wrap > .top > .art_k {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  margin-top: 4px;
}
.champ_wrap > .champ_list > .inner > ul > li > .text_wrap > .top > .contest_name {
  width: 100%;
  font-weight: 600;
}

.champ_wrap > .champ_list > .inner > ul > li > .text_wrap > .username {
  text-align: right;
  font-size: 14px;
}
@media screen and (max-width: 1232px) {
  .champ_wrap > .inner {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .champ_wrap > .inner {
    padding: 0 30px;
  }
  .champ_wrap > .champ_list > .inner > ul > li > .text_wrap > .top > .contest_name {
    font-size: 2.4vw;
  }
  .champ_wrap > .champ_list > .inner > ul > li > .text_wrap > .top > .art_k {
    font-size: 2vw;
    margin-top: 3px;
  }
  .champ_wrap > .champ_list > .inner > ul > li > .text_wrap > .username {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 420px) {
  .champ_wrap > .inner {
    padding: 0 10px;
  }
  .champ_wrap > .champ_list > .inner > ul > li > .prize {
    height: 10vw;
    width: 10vw;
    font-size: 3vw;
    top: -4px;
    left: -4px;
  }
  .champ_wrap > .champ_list > .inner > ul > li > .text_wrap {
    background-color: #fff;
    padding: 1.4vw;
    cursor: pointer;
  }
  .champ_wrap > .champ_list > .inner > ul {
    padding: 20px 10px;
    gap: 10px;
  }
}
